<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
    <div>
      <img id='background-image' src="../assets/launch-page.jpeg" alt="Knight Fighting a Dragon">
    </div>
</main>

<%- include('./partials/footer') %>
