<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
    <div>
      <img id='background-image' src="../assets/launch-page.jpeg" alt="Knight Fighting a Dragon">
    </div>
    <div id="welcome-message-box">
      <p id="welcome-message"> Hello and welcome to the dnd character commentor!
      <br>
      In the Characters section a user like yourself can create a Dungeons and Dragons Character with the template given in the Basic Rules.</p>
    </div>
</main>

<%- include('./partials/footer') %>
